/*
 SPDX-FileCopyrightText: 2024 Skatteverket - Swedish Tax Agency

 SPDX-License-Identifier: CC0-1.0
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

.mla-component {
  display: block; 
  width: 100%; 
  height: 100%;

  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);

  & #loader {
    text-align: center;
    margin-top: 100px;
  }
  
  & #loader h1 {
    margin-bottom: 40px;
  }
  
  & #mla-chart .vis-network:focus{
    outline: none;
  }
}
