# SPDX-FileCopyrightText: 2024 Skatteverket - Swedish Tax Agency
#
# SPDX-License-Identifier: CC0-1.0

---
name: Deploy demo app

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: Build and deploy
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      # Checkout project repository
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      # Install pnpm
      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          run_install: false      
      
      # Setup Node.js environment
      - name: Install Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: ".nvmrc"
          cache: pnpm
          registry-url: https://registry.npmjs.org

      # Install dependencies
      - name: Install dependencies
        run: pnpm install --frozen-lockfile     

      # Checkout project repository
      - name: Build
        run: |
          pnpm run build

      # Checkout project repository
      - name: Deploy
        run: |
          git remote set-url origin https://git:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
          pnpm run deploy:app
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
