# SPDX-FileCopyrightText: 2024 Skatteverket - Swedish Tax Agency
#
# SPDX-License-Identifier: CC0-1.0

---
name: Deploy demo app

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: Build and deploy
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      # Checkout project repository
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      # Install pnpm
      - name: Install pnpm
        uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4.1.0
        with:
          run_install: false      
      
      # Setup Node.js environment
      - name: Install Node.js
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version-file: ".nvmrc"
          cache: pnpm
          registry-url: https://registry.npmjs.org

      # Install dependencies
      - name: Install dependencies
        run: pnpm install --frozen-lockfile     

      # Checkout project repository
      - name: Build
        run: |
          pnpm run build

      # Checkout project repository
      - name: Deploy
        run: |
          git remote set-url origin https://git:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
          pnpm run deploy:app
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
