# SPDX-FileCopyrightText: 2024 Skatteverket - Swedish Tax Agency
#
# SPDX-License-Identifier: CC0-1.0

---
name: CI

on: # yamllint disable-line rule:truthy
  push:
    branches:
      - main
      - renovate/**
    tags:
      - v[0-9]+.[0-9]+.[0-9]+
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  commit:
    uses: ./.github/workflows/commit.yml
  license:
    uses: ./.github/workflows/license.yml
  lint:
    permissions:
      contents: read
      security-events: write  
    uses: ./.github/workflows/lint.yml
  lintpubliccode:
    uses: ./.github/workflows/lintpubliccode.yml
  build:
    uses: ./.github/workflows/build.yml
  test:
    uses: ./.github/workflows/test.yml
